<footer >
   <div class="f-info" bottom: 0; left: 0; width: 100%; background: #f8f9fa; padding: 1rem; text-align: center; z-index: 999;">

        <div class="f-info_socials">
  <div class="f-info_socials">
    <i class="fa-brands fa-square-facebook social-facebook"></i>
    <i class="fa-brands fa-square-instagram social-instagram"></i>
    <i class="fa-brands fa-linkedin social-linkedin"></i>
</div>

        </div>
        <div>
            <i class="fa-regular fa-copyright"></i>
            Feel-Alive Private Limited
        </div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>
